<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <div id="content"></div>
        <a href="https://github.com/TravelingTechGuy/express-eventsource"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
        <script type="text/javascript" src="/javascripts/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="/javascripts/EventSource.js"></script>
        <script type="text/javascript" src="/javascripts/main.js"></script>
    </body>
</html>